
.container {
  max-width: 1000px;
  margin: 0 auto;
  min-height: 100vh;
}

.header {
  height: 120px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 16px;
}

.logo {
  margin-right: 24px;
}
.search_input {
  width: 50%;
  margin-right: 16px;
  height: 60px;
  border-radius: 15px;
  border: 1px solid rgb(188, 192, 198);
  font-size: 24px;
  font-weight: 300;
  padding: 16px;

  &:focus, &:hover {
    outline: none;
  }
}

.button {
  height: 60px;
  border-radius: 15px;
  width: 160px;
  border: none;
  background: #232340;
  cursor: pointer;
  color: white;
  font-size: 16px;
  font-weight: 300;

}

.content {
  background: linear-gradient(121.18deg, rgba(253, 242, 240, .8) 4.18%, rgba(253, 242, 240, .8) 39.18%, rgba(254, 247, 246, .8) 65.77%, hsla(0, 0%, 100%, .8) 93.77%);
  min-height: calc(100vh - 124px);
  border-top-right-radius: 75px;
  border-top-left-radius: 75px;
  background-size: contain;
  padding: 75px;
}
